<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-6 col-md-3">
        <p class="text-muted footer-text text-left">Running on AngularJS v1.6.3</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-6"><p  class="text-muted footer-text text-right">Made by Hristo Georgiev for Avrios</p></div>
    </div>
  </div>
</footer>
