.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;

    .footer-text {
        vertical-align: middle;
        line-height: 60px;
    }
}
