.player-handle {
    .name-container {
        display: flex;
        height: 100px;
        flex-direction: column;
        justify-content: center;

        h1 {
            text-align: center;
            vertical-align: middle;
            margin: 0;
            font-size: 50px;
        }
    }

    input[type="text"] {
        text-transform: uppercase;

    }

}

