<div class="player-handle">
  <div class="row">
    <div class="col-xs-12">
      <h1>Enter your name</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 name-container">
      <h1><b>{{$ctrl.playerHandle | uppercase}}</b></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <input focus class="form-control" id="player-handle-input" type="text" ng-model="$ctrl.playerHandle"
             ng-change="$ctrl.playerHandleChanged({$event: $ctrl.playerHandle});"
             placeholder="e.g. Roger" aria-placeholder="Roger"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary btn-lg btn-block"
              ng-disabled="$ctrl.playerHandle.length == 0 || $ctrl.gameLoading"
              ng-click="$ctrl.onStartGame()">
        <span ng-show="!$ctrl.gameLoading">Start</span>
        <span ng-show="$ctrl.gameLoading">        <i class="fa fa-cog fa-spin"></i></span>
      </button>
    </div>


  </div>

</div>
