.scoreboard {
    .page-load-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .page-load-icon {
            text-align: center;
            display: block;
            font-size: 50px;
        }

    }

}
