<div class="container scoreboard">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center"> Scoreboard</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div ng-show="$ctrl.playerScoresLoading == true" class="page-load-container">
        <i  class="fa fa-cog fa-spin page-load-icon"></i>
      </div>

      <table class="table table-hover" ng-show="$ctrl.playerScoresLoading == false">
        <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="playerScore in $ctrl.playerScores | orderBy:'-score'">
          <td>{{ playerScore.name | uppercase}}</td>
          <td>{{ playerScore.score}}pts</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

