/*
Global styles
 */
@import "styles/variables";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "styles/cosmo";
@import '~font-awesome/css/font-awesome.css';

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    height: 100vh;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
