<div class="wordbox">
  <div class="row">
    <div class="col-xs-12 text-center" >
      <h4 class="text-warning">Guess the word</h4>
      <h1>{{$ctrl.word | uppercase}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4 class="text-primary">Your guess</h4>
      <div class="input-wrapper text-center">
        <input class="word-entry-control" type="text"
               ng-model="$ctrl.userWord"
               focus
               clipboard-disable
               ng-change="$ctrl.handleModelChange()"
           />
      </div>
    </div>

  </div>
</div>
