<div class="timer">
  <div class="row">
    <div ng-class="$ctrl.countdownStatusClass" class="col-xs-12 text-center ">
      <i class="fa fa-clock-o fa-3x"></i>
      <h1 class>
        {{$ctrl.countDownSeconds}}s
      </h1>

    </div>
  </div>
</div>
