.game {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content:center;

    .flex-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
