<div class="game">
  <div class="flex-center">
    <!-- Shown when the game is about to start -->
    <div id="game-start" ng-show="$ctrl.currentGameState == $ctrl.gameStates.init">
      <player-handle game-loading="$ctrl.loadingGame"
                     player-handle="$ctrl.playerHandle"
                     on-start-game="$ctrl.startGame()"
                     player-handle-changed="$ctrl.playerHandle = $event"></player-handle>

    </div>

    <!-- Shown when the game is running -->
    <div id="game-run" ng-show="$ctrl.currentGameState == $ctrl.gameStates.running">


      <timer on-time-over="$ctrl.endGame()"
             count-down-seconds="$ctrl.countDownSeconds"
             game-state="$ctrl.currentGameState"></timer>

      <wordbox clear-user-word="$ctrl.clearUserWord"
               user-word-changed="$ctrl.handleUserInput($event)"
               word="$ctrl.currentWord"
               game-state="$ctrl.currentGameState"></wordbox>
      <score current-score="$ctrl.currentScore"></score>
    </div>


    <!-- Shown when the game has ended -->
    <div id="game-end" ng-show="$ctrl.currentGameState == $ctrl.gameStates.end">
      <result on-start-game="$ctrl.startGame()"
              previous-score="$ctrl.previousScore"
              final-score="$ctrl.finalScore"
              game-loading="$ctrl.loadingGame"></result>
    </div>


  </div>
</div>
<!-- Shown when a network error occurs -->
<div ng-show="$ctrl.errorMessage && $ctrl.errorMessage.length > 0" class="alert alert-danger" role="alert">
  <p class="text-center">{{$ctrl.errorMessage}}</p>
</div>
