<div class="result text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1>Game Over</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 name-container">
      <h4>Your score:</h4>
      <h1><b>{{$ctrl.finalScore}}pts</b></h1>


      <!-- Compare the current score with the player's highest score (if it exists) -->
      <h2 ng-show="$ctrl.finalScore > $ctrl.previousScore" class="text-success">
        Congratulations! This is your highest score!
      </h2>

      <h2 ng-show="$ctrl.finalScore < $ctrl.previousScore" class="text-danger">
        You are {{$ctrl.previousScore - $ctrl.finalScore}}pts away from beating your best score
      </h2>
      <!-- - -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary btn-lg btn-blcok"
              ng-disabled="$ctrl.gameLoading"
              ng-click="$ctrl.onStartGame()">
        <span ng-show="!$ctrl.gameLoading">  Play again</span>
        <span ng-show="$ctrl.gameLoading">        <i class="fa fa-cog fa-spin"></i></span>
      </button>
    </div>
  </div>

</div>
